.after-battle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, hsla(229, 51%, 51%, 1) 2%, hsla(249, 84%, 7%, 1) 100%);
    color: white;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    height: 100%;
    border: 1px solid red;
    padding: 1rem;
}

.level-up-stat {
    display: grid;
  grid-template-columns: 1fr auto; /* Two columns: first takes available space, second auto sizes */
  align-items: center;
  column-gap: 10px; /* Adjust spacing between columns */
}

.level-up-name {
    text-align: left;
}

#level-up-container {
    display: flexbox;
    flex-direction: column;
}

.level-up-stat button {
    padding: .4rem 1rem;
    margin-left: 4px;
    font-size: 1.6rem;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    font-weight: 600;
}

.level-up-buttons {
    text-align: right;
}

.continue-button {
    margin-top: 4px;
    padding: 10px 20px;
}

.continue-button:hover {
    cursor: pointer;
}