.board {
  padding: 20px;
  margin: auto;
  max-width: 500px;
  height: 100%;
}

#current-room {
  height: 45vh;
  text-align: center;
  margin-bottom: 8px;
  border: 5px solid rgb(207, 207, 207);
}

#current-hero {
  height: 45vh;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  height: 50px;
  width: 50px;
  border: 1px solid green;
}

.square:hover {
  background-color: gold;
}

.map {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  justify-items: stretch;
  border: 2px solid white;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #3a342a;
  border-radius: 10px;
}

.take-button {
  padding: 16px;
  background: white;
  color: black;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
}

.take-button:hover {
  cursor: pointer;
  background-color: rgb(150, 150, 150);
}

#map-healing-room-button {
  background-color: green;
}

#map-shop-room-button {
  background-color: rgb(218, 124, 2);
}

.inRoom-display {
  height: 100%;
}