.board {
  padding: 40px;
  max-width: 500px;
  margin: auto;
}

#current-room {
  text-align: center;
  height: 300px;
  margin-bottom: 8px;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  height: 50px;
  width: 50px;
  border: 1px solid green;
}

.square:hover {
  background-color: gold;
}

.map {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  justify-items: center;
  border: 2px solid white;
  margin-bottom: 10px;
}