#backpack-container {
    color: white;
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

.backpack-item-details {
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.backpack-item-image {
    width: 20px;
}

.backpack-item-description {
    margin-left: 8px;
}

.backpack-back-button {
    padding:  .6rem 1rem;
    margin-left: auto;
}

.backpack-container-top {
    display: flex;
    align-items: center;
}

.backpack-item-value {
    margin-left: auto;
}

.backpack-all-items {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

.backpack-item-use-button {
    margin: 0;
    margin-left: 4px;
    padding: .8rem;
}

.backpack-use-button {
    border: 1px solid red;
}