.boss-room-container {
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding: 2rem;
}

.boss-room-container.boss-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none; /* Remove the radial gradient */
    z-index: 1;
    animation: bossRoomAnimation 4s infinite;
}

.boss-room-container.stop-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* Change the color and opacity as needed */
    animation: stopAnimation .5s ease-in-out;
    z-index: 1;
    /* Place the overlay behind the content */
}

.boss-room-container.fire-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* Change the color and opacity as needed */
    animation: fireAnimation .5s ease-in-out;
    z-index: 1;
    /* Place the overlay behind the content */
}

.boss-room-container.thunder-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* Change the color and opacity as needed */
    animation: thunderAnimation .5s ease-in-out;
    z-index: 1;
    /* Place the overlay behind the content */
}

.boss-room-container.blizzard-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* Change the color and opacity as needed */
    animation: blizzardAnimation .5s ease-in-out;
    z-index: 1;
    /* Place the overlay behind the content */
}

.boss-room-container.quake-overlay {
    animation: quakeAnimation .5s ease-in-out;
}

.boss-room-container.poison-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* Change the color and opacity as needed */
    animation: poisonAnimation .5s ease-in-out;
    z-index: 1;
    /* Place the overlay behind the content */
}

.boss-room-name {
    background-color: rgb(0, 0, 0, 0.7);
    font-size: .8rem;
    padding: 8px;
}

.boss-room-details {
    border: 1px solid white;
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(5, 5, 5);
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 8px;
    overflow-y: auto;
    line-height: 1.5;
    min-height: 80px;
    font-size:.8rem;
}

.boss-image {
    max-width: 200px;
}

@keyframes bossRoomAnimation {
    0% {
        background-color: rgba(102, 74, 74, 0.2); /* Subtle red */
    }


    50% {
        background-color: rgba(0, 0, 0, 0.2); /* Black */}

    100% {
        background-color: rgba(102, 74, 74, 0.2); /* Subtle red */
    }
}