.boss-room-container {
    background-color: purple;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.enemy-attacked {
    background-color: rgb(197, 197, 197);
}