.world-1-enemy-background {
    background-image: url('/images/backgrounds/grassBackground.png');
}

.sea-background {
    background-image: url('/images/backgrounds/seaBackground.png');
}

.weird-background {
    background-image: url('/images/backgrounds/weirdBackground.png');
}

.scary-background {
    background-image: url('/images/backgrounds/scaryBackground.png');
}

.snowy-background {
    background-image: url('/images/backgrounds/snowyBackground.png');
}

.fire-background {
    background-image: url('/images/backgrounds/fireBackground.png');
}

.end-background {
    background-image: url('images/backgrounds/endBackground.png');
}

.enemy-container {
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding: 2rem;
}

.enemy-container.stop-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* Change the color and opacity as needed */
    animation: stopAnimation .5s ease-in-out;
    z-index: 1;
    /* Place the overlay behind the content */
}

.enemy-container.fire-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* Change the color and opacity as needed */
    animation: fireAnimation .5s ease-in-out;
    z-index: 1;
    /* Place the overlay behind the content */
}

.enemy-container.thunder-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* Change the color and opacity as needed */
    animation: thunderAnimation .5s ease-in-out;
    z-index: 1;
    /* Place the overlay behind the content */
}

.enemy-container.blizzard-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* Change the color and opacity as needed */
    animation: blizzardAnimation .5s ease-in-out;
    z-index: 1;
    /* Place the overlay behind the content */
}

.enemy-container.quake-overlay {
    animation: quakeAnimation 1.5s steps(5) forwards;
}

.enemy-container.poison-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* Change the color and opacity as needed */
    animation: poisonAnimation .5s ease-in-out;
    z-index: 1;
    /* Place the overlay behind the content */
}

.enemy-name {
    background-color: rgb(0, 0, 0, 0.7);
    font-size: 1rem;
    padding: 8px;
}

.enemy-health {
    font-weight: 700;
    background-color: rgb(0, 0, 0, 0.7);
    padding: 4px;
}

.enemy-details {
    border: 1px solid white;
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(5, 5, 5);
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 8px;
    overflow-y: auto;
    line-height: 1.5;
    min-height: 80px;
    font-size: .8rem;
}

.enemy-attacked {
    opacity: 0;
}

.enemy-image {
    margin-top: 20px;
    width: 50%;
    max-width: 100px;
    margin-bottom: 20px;
}

@keyframes stopAnimation {
    0% {
        background-color: rgb(255, 255, 255, 0.5);
    }

    25% {
        background-color: rgb(0, 0, 255, 0.5);
        ;
    }

    50% {
        background-color: rgb(255, 255, 255, 0.5);
    }

    75% {
        background-color: rgb(0, 0, 255, 0.5);
        ;
    }

    100% {
        background-color: rgb(255, 255, 255, 0.5);
    }
}

@keyframes fireAnimation {
    0% {
        background-color: rgba(247, 71, 17, 0.5);
    }

    25% {
        background-color: rgba(185, 30, 10, 0.5);
    }

    50% {
        background-color: rgba(247, 71, 17, 0.5);
    }

    75% {
        background-color: rgba(185, 30, 10, 0.5);
    }

    100% {
        background-color: rgba(247, 71, 17, 0.5);
    }
}

@keyframes blizzardAnimation {
    0% {
        background-color: rgba(200, 220, 255, 0.7); /* Pale blue with high opacity */
    }

    25% {
        background-color: rgba(150, 190, 255, 0.7); /* Lighter blue with high opacity */
    }

    50% {
        background-color: rgba(120, 170, 255, 0.7); /* Icy blue with high opacity */
    }

    75% {
        background-color: rgba(150, 190, 255, 0.7); /* Lighter blue with high opacity */
    }

    100% {
        background-color: rgba(200, 220, 255, 0.7); /* Pale blue with high opacity */
    }
}

@keyframes thunderAnimation {
    0% {
        background-color: rgba(255, 255, 100, 0.5); /* Yellow */
    }

    25% {
        background-color: rgba(255, 255, 100, 0.1); /* Faint yellow */
    }

    50% {
        background-color: rgba(255, 255, 100, 0.5); /* Yellow */
    }

    75% {
        background-color: rgba(255, 255, 100, 0.1); /* Faint yellow */
    }

    100% {
        background-color: rgba(255, 255, 100, 0.5); /* Yellow */
    }
}

@keyframes quakeAnimation {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(-8px, -8px);
    }

    20% {
        transform: translate(8px, 8px);
    }

    30% {
        transform: translate(-8px, -8px);
    }

    40% {
        transform: translate(8px, 8px);
    }

    50% {
        transform: translate(-8px, -8px);
    }

    60% {
        transform: translate(8px, 8px);
    }

    70% {
        transform: translate(-8px, -8px);
    }

    80% {
        transform: translate(8px, 8px);
    }

    90% {
        transform: translate(-8px, -8px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes poisonAnimation {
    0% {
        background-color: rgba(0, 128, 0, 0.7); /* Dark green with high opacity */
    }

    25% {
        background-color: rgba(0, 64, 0, 0.7); /* Deeper dark green with high opacity */
    }

    50% {
        background-color: rgba(0, 128, 0, 0.7); /* Dark green with high opacity */
    }

    75% {
        background-color: rgba(0, 64, 0, 0.7); /* Deeper dark green with high opacity */
    }

    100% {
        background-color: rgba(0, 128, 0, 0.7); /* Dark green with high opacity */
    }
}

@media (min-width: 400px) {
    .enemy-image {
        max-width: 100px;
    }
}

@media (min-width: 800px) {
    .enemy-image {
        max-width: 120px;
    }
}