.enemy-container {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding: 2rem;
}

.enemy-name {
    background-color: rgb(0, 0, 0, 0.7);
    font-size: 1.4rem;
    padding: 8px;
}
.enemy-details {
    background-color: rgb(0, 0, 0, 0.7);
    padding: .5em;
}

.enemy-attacked {
   opacity: 0;
}

.enemy-image {
    margin-top: 8px;
    width: 50%;
    max-width: 120px;
    max-height: auto;
    margin-bottom: 8px;
}

.world-1-enemy-background {
    background-image: url('/images/backgrounds/grassBackground.png');
}

.world-2-enemy-background {
    background-image: url('/images/backgrounds/scaryBackground.png');
}

.world-3-enemy-background {
    background-image: url('/images/backgrounds/snowyBackground.png');
}

.world-4-enemy-background {
    background-image: url('/images/backgrounds/fireBackground.png');
}

.world-5-enemy-background {
    background-image: url('images/backgrounds/testBackground.png');
}