.hero-container {
    background: linear-gradient(180deg, hsla(229, 51%, 51%, 1) 2%, hsla(249, 84%, 7%, 1) 100%);
    border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.hero-button {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid;
    border-radius: 20px;
    padding: .6em;
}

.hero-button:not([disabled]):hover {
    cursor: pointer;
    background-color: darkblue;
}

.hero-button:is([disabled]) {
    opacity: 0.3;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#hero-buttons {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    margin-top: 1em;
}

.hero-attacked {
    background-color: rgb(197, 197, 197);
}

.hero-health-stat {
    font-weight: 600;

}

.hero-mana-stat {
    font-weight: 600;

}

.hero-money-stat {
    font-weight: 600;

}

.hero-xp-stat {
    font-weight: 600;
}

.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .stats-button {
    padding: 10px;
    font-size: 16px;
    text-align: center;
    align-self: center;
  }

@media (hover: none) {
    .hero-button {
        background-color: darkblue;
    }
}