.room-button {
    width: 100%;
    height: 100%;
    background-color: #fcfad2;
    border: 3px solid black;
    font-size: 20px;
    font-weight: bold;
}

.room-button:not([disabled]):hover {
    background-color: lightyellow;
    cursor: pointer;
}

.room-button:is([disabled]) {
    opacity: 0.55;
}

.boss-room-button {
    background-color: red;
    color: white;
    font-weight: 800;
}