.shop-room-container {
    background-color: orange;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shop-item-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-item-image {
    width: 32px;
}