.spells-container-top {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

#spell-buttons {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    margin-top: 16px;
}

.spells-container-back-button {
    padding:  .6rem 1rem;
    margin-left: auto;
}