#treasure-room-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    height: 100%;
}

.treasure-room-image {
    margin-top: 20px;
    max-height: 80px;
    margin-bottom: 20px;
}