#treasure-room-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, hsla(44, 59%, 59%, 1) 0%, hsla(10, 78%, 18%, 1) 100%);
    color: white;
    height: 100%;
}

.treasure-room-image {
    margin-top: 20px;
    max-height: 80px;
    margin-bottom: 20px;
}