#weapon-room-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: silver;
}

.weapon-room-image {
    width: 160px;
}