#weapon-room-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(135deg, hsla(285, 6%, 14%, 1) 0%, hsla(214, 12%, 43%, 1) 100%);
    color: white;
}

.weapon-room-image {
    max-height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}